In [14]:
import sql_functions as sql  # SQL functions from .py file
import getpass  # For securely entering passwords
import sqlalchemy  # SQL toolkit
from sqlalchemy import create_engine  # Database connection function
import pandas as pd

### Set Up the DataBase connection

In [8]:
engine = sql.sql_setup()

Please add your SQL password:  ········

### Run From the Pre-Built Analysis from the SQL DataBase

In [16]:
sql.run_analysis(engine)

Choose an analysis to run:
1: Total Acquisitions by Company
2: Acquisitions per Year
3: Most Active Acquirer
4: Largest Acquisition
5: Matured (+10 years) vs Not Matured  (<10 years)
6: Industry Distribution by Company
7: Top 3 Acquisitions by Company
8: Acquisition Price by Acquirer
9: Net Income vs Number of Acquisitions
10: Average Acquisition Price by Maturity Status
11: M&A Spending relative to Revenue by Acquirer (Since 2020)
12: Stock Price Comparison of Acquiring Companies
Type Exit, to end the program

Enter your choice (1-12):  exit

Exiting program.

### Insert data into one of the database tables interactively

In [ ]:
sql.insert_data(engine)

### Delete entries from the database tables interactively

In [11]:
sql.delete_entry(engine)

Select the table you want to delete data from:
1. companies
2. income_statements
3. mergers_acquisitions
4. stock_prices

Enter the number of the table:  1

You can delete by either 'symbol' or 'company_name'.

Enter 'symbol' or 'company_name' to filter by:  symbol
Enter the value for `symbol` (e.g., 'AAPL' or 'Apple Inc.'):  AAPL

Are you sure you want to delete entries where `symbol` = 'AAPL' in `companies`? (yes/no):  no

Deletion cancelled.